*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
    body{
        margin: auto;
        width: 1920px;
        background-color: rgb(240,240,240);
    }
    .nav{
        width: 100%;
        height: 360px;
        background-image: url(img/nav.png);
        box-shadow: inset 0 80px 60px 0 rgba(0,0,0, 0.8);
    }
    .nav ul{
        width: 70%;
        height: 15%;
        margin: auto;
    }
    .nav .logo{
       padding-top: 8px;
       margin-right: 50px;
    }
    .nav li{
        float: left;
        text-align: center;
        margin-right: 70px;
        padding: 16px 0;
      }
    .nav li a{
        color: white;
        font-size: 18px;
       }
    .nav li a p{
        color: rgb(192, 192, 192);
        font-size: 12px;
       }
    .nav li a:hover{
        color: rgb(189, 133,  30);
    }
    
    .nav .logo{
        padding: 6px 0;
    }
    .box{
        width: 70%;
        height: 380px;
        margin:50px auto;
        background-color: #fff;
    }
    .tupian{
        width: 61%;
        height: 340px;
    }
    .wenzi li a{
        width: 164px;
        height: 40px;
        display: block;
        float: left;
        line-height: 40px;
        text-align: center;
        color: rgb(41, 41, 41);
        background-color: #e3e2e2;
        font-size: 14px;
    }
    .wenzi li a:hover{
        color: #ab8e66;
        background-color: #f7f6f6;
        border-bottom: 2px #cea861 solid;
    }
    .box1{
        width:62%;
        height: 380px;
        background-color: #fff;
        float: left;
    }
    .box2{
        float: right;
        width: 38%;
        height: 380px;
        background-color: #fff;
    }
    .wenzi1 li a{
         display: block; 
        float: left;
        width: 102px;
        height: 30px;
       text-align: center;
       color: rgb(41, 41, 41);
       background-color: #e3e2e2;
       font-size: 14px;
      ;line-height: 30px;
    }
    .wenzi1 li a:hover{
        color: rgb(43, 170, 170);
        background-color: #f7f6f6;
        border-bottom: 2px rgb(106, 143, 160); 
        font-weight: bolder;
    }
    .yimian li {
        border-bottom: 1px grey solid;
        margin: 10px;
        height: 20px;
        text-align: center;
        float: left;
    }
    .yimian li a{
        color:rgb(41, 41, 41) ;
    }
   .a {
        font-weight: bolder;
        font-size: 23px; 
    }
   .a a:hover{
        color: rgb(189, 133,  30);
    }
   .b1{
       border: 1px rgb(189, 133,  30) solid;
       margin-right: 20px;
       font-size: 13px;
       color: rgb(189, 133,  30);
    } 
    .b a:hover{
        color: rgb(189, 133,  30);
    }
    .b2{
        margin-left: 50px;
        color: grey;
        font-size: 13px;
    }
    .c1{
        border: 1px rgba(57, 98, 175, 0.904) solid;
       margin-right: 20px;
       font-size: 13px;
       color: rgba(57, 98, 175,0.904);
    }
    .c a:hover{
        color: rgba(57, 98, 175,0.904);
    }
    .c2{
        margin-left: 85px;
        color: grey;
        font-size: 13px;
    }
    .d a:hover{
        color: orange;
    } 
    .d1{
        border: 1px orange solid;
        margin-right: 20px;
        font-size: 13px;
        color: orange;
    }
    .d2{
        color: grey;
        font-size: 12px;
    }
    .e a:hover{
        color: orange;
    } 
    .e2{
        font-size: 13px;
        margin-left: 180px;
        color: grey;
    }
    .f a:hover{
        color: rgb(189, 133,  30);
    }
    .f2{
        font-size: 13px;
        margin-left: 228px;
        color: grey;
    }
    .g a:hover{
        color: rgb(189, 133,  30);
    }
    .g2{
        font-size: 13px;
        margin-left: 124px;
        color: grey;
    }
    .h a:hover{
        color: rgb(125, 197, 125);
    }
    .h1{
        border: 1px rgb(125, 197, 125) solid; 
        margin-right: 20px;
        font-size: 13px;
        color: rgb(125, 197, 125);
    }
    .wenzi2 li a{
        display: block; 
       float: left;
       width: 500px;
       height: 40px;
      color: rgb(41, 41, 41);
      background-color: #e3e2e2;
      font-size: 14px;
      text-align: center;
      line-height: 43px;
    }
    .ermian li {
        border-bottom: 1px grey solid;
        margin: 10px;
        height: 20px;
        text-align: center;
        float: left;
    }
    .ermian li a{
        color:rgb(41, 41, 41) ;
    }
    .sanmian li {
        border-bottom: 1px grey solid;
        margin: 10px;
        height: 20px;
        text-align: center;
        float: left;
    }
    .sanmian li a{
        color:rgb(41, 41, 41) ;
    }
    .simian li {
        border-bottom: 1px grey solid;
        margin: 10px;
        height: 20px;
        text-align: center;
        float: left;
    }
    .simian li a{
        color:rgb(41, 41, 41) ;
    }
    .wumian li {
        border-bottom: 1px grey solid;
        margin: 10px;
        height: 20px;
        text-align: center;
        float: left;
    }
    .wumian li a{
        color:rgb(41, 41, 41) ;
    }